@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
#inputData {
  background-color: #ff3f33;
  display: flex;
  justify-content: space-between; /* pushes first and last item to ends */
  align-items: center;
  padding: 30px;
  gap: 20px;
}
.changeDegree {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input[type="text"] {
  padding: 13px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #174ea6;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
input[type="text"]:focus {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
  border-bottom: 3px solid skyblue;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  padding: 2px 24px;
  text-align: center;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow:
    0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}
#infoOfWeather {
  letter-spacing: 0.8px;
  margin: auto;
  background-color: #075b5e;
  color: white;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  width: 400px;
  margin-top: 30px;
  height: 400px;
  box-shadow: 0 4px 10px black;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

#temp {
  position: relative;
  top: 40px;
}
#tomorow {
  display: flex;
  margin: 30px;
  gap: 20px;
}
.upComming {
  box-shadow: 0px 5px 10px rgb(20, 15, 15);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  color: white;
  background-color: #075b5e;
}

#imgsec{
  padding: 20px;
}
.weatherIcon{
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

/* Css when screen is small */
@media screen and (max-width:800px) {
  #inputData {
    background-color: #ff3f33;
    display: flex;
    justify-content: space-between; /* pushes first and last item to ends */
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }
  #tomorow{ 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}