@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
      font-family: "Roboto", sans-serif;

    background-color: #101828;
}

#main {
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-auto-rows: 100px;
    gap: 40px;
}

.changeDegree {
    position: relative;
    bottom: 120px;
    right: 600px;
}

#inputData {
    background-image: url("img/rain.avif");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/4;
    grid-row: 1/4;

    display: flex;
    align-items: center;
    justify-content: center;
}

#inpt {
    width: 300px;
}

input[type="text"] {
    color: red;
    padding: 3px;
    border-style: none;
    outline: none;
    border-bottom: 4px solid green;

}

#infoOfWeather {
    display: flex;
    width: 600px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#tomorow {
    background-color: red;
}

#temp {
    display: flex;
    gap: 10px;
}

h1{
    font-size: 50px;
    color: rgb(71, 71, 72);
}

button{
    background-color:rgb(215, 68, 68) ;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
}